---
import Home from "../components/index.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Carbon Design System icons as Svelte components"
    />
    <title>Carbon Icons Svelte</title>
  </head>
  <body>
    <Home client:load />
  </body>
</html>
